<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoleStyle</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <style type="text/tailwindcss">
        @theme {
            --color-clifford: #da373d;
        }
    </style>
    <style>
        body {
            font-family: "Poppins", Arial, sans-serif;
        }

        .login-input:-webkit-autofill,
        .login-input:-webkit-autofill:hover,
        .login-input:-webkit-autofill:focus {
            background-color: rgba(255, 255, 255, 0.12) !important;
            -webkit-box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0.12) inset !important;
            -webkit-text-fill-color: #fff !important;
            caret-color: #fff;
        }

        .login-input {
            background-color: rgba(255, 255, 255, 0.1);
            color: #fff;
            caret-color: #fff;
        }
    </style>
</head>

<body>

    <main class="relative min-h-screen flex items-center justify-center px-5 overflow-hidden">

        <!--  Background -->
        <img class="absolute  w-full h-full" src="https://i.pinimg.com/736x/df/85/75/df8575ca1876dd76147b16c08056e74f.jpg" alt="">
        <img class="absolute sm:hidden w-full h-full" src="https://i.pinimg.com/1200x/2d/2c/fb/2d2cfb1cb6aa2420599a9cb323c2d5c6.jpg" alt="">

        <div class="w-full max-w-md backdrop-blur-sm bg-none border border-white/20 rounded-3xl shadow-2xl p-5 z-10">
            <div class="text-center mb-8">
                <i class="fa-solid fa-shoe-prints text-5xl text-white"></i>
                <h1 class="text-4xl font-bold text-gray-50 mt-4">
                    Welcome Back
                </h1>
                <p class="text-gray-200 mt-2">
                    Sign in to your SoleStyle account
                </p>
            </div>
            <form autocomplete="off" class="space-y-5">

                <!-- Username -->
                <div class="relative">
                    <input required autocomplete="new-password" name="login-name-no-autofill" readonly
                        onfocus="this.removeAttribute('readonly')" type="text" placeholder="Enter your username..." class="login-input w-full py-3 px-5 pr-12
                               rounded-full
                               bg-white/10
                               text-white
                               placeholder:text-gray-500
                               border border-white/40
                               outline-none
                               focus:border-white
                               focus:ring-2 focus:ring-white/20">
                    <i class="fa-regular fa-user absolute right-5 top-1/2 -translate-y-1/2 text-white">
                    </i>
                </div>
                <!-- Email -->
                <div class="relative">
                    <input required autocomplete="new-password" name="login-email-no-autofill" readonly
                        onfocus="this.removeAttribute('readonly')" type="email" placeholder="Enter your email..." class="login-input w-full py-3 px-5 pr-12
                               rounded-full
                               bg-white/10
                               text-white
                               placeholder:text-gray-500
                               border border-white/40
                               outline-none
                               focus:border-white
                               focus:ring-2 focus:ring-white/20">
                    <i class="fa-solid fa-envelope absolute right-5 top-1/2 -translate-y-1/2 text-white">
                    </i>
                </div>

                <!-- Password -->
                <div class="relative">
                    <input type="password" autocomplete="new-password" name="login-password-no-autofill" readonly
                        onfocus="this.removeAttribute('readonly')" placeholder="Enter your password..." class="login-input w-full py-3 px-5 pr-12 rounded-full
                               bg-white/10 text-white
                               placeholder:text-gray-500
                               outline-none
                               border border-white/40
                               focus:border-white
                               focus:ring-2 focus:ring-white/20">
                    <i class="fa-solid fa-lock absolute right-5 top-1/2 -translate-y-1/2 text-white">
                    </i>
                </div>

                <!-- Remember -->
                <div class="flex justify-between text-sm text-gray-200">
                    <label class="flex gap-2">
                        <input class="" type="checkbox">
                        Remember Me
                    </label>
                    <a href="#" class="hover:text-gray-300">
                        Forgot Password?
                    </a>
                </div>

                <!-- Button -->
                <button class="w-full py-3 rounded-full
                           bg-orange-500
                           hover:bg-orange-600
                           text-white
                           font-bold
                           transition">
                    Login
                </button>
            </form>
            <p class="text-center text-gray-200 mt-6">
                Did you have your account?
                <a href="Login.html" class=" text-red-500 hover:text-red-500">
                    Login
                </a>
            </p>
        </div>
    </main>
</body>
</html> 